{{set . "title" "Jurusan"}} {{template "header.html" .}}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Mesin</h3>
            </div>

            <div class="box-body">
                <form action="{{url "mesin.Push"}}" method="post" class="form-horizontal">
                    {{with .mesin}}
                    <input type="hidden" value="{{.Id}}" name="id">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Kode</label>
                        <div class="col-sm-2">
                            <input type="text" value="{{.Kode}}" name="kode" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ip</label>
                        <div class="col-sm-4">
                            <input type="text" value="{{.Ip}}" name="ip" class="form-control">
                        </div>
                    </div>
                    {{end}}
            </div>
            <div>
                <div class="box-footer">
                    <input type="submit" class="btn btn-primary" value="Simpan" />
                </div>
            </div>
        </div>
        </form>
    </div>
</div>


{{template "jsscript.html" .}}
{{template "footer.html" .}}
