{{set . "title" "Pengumuman"}} {{template "header.html" .}}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Pengumuman</h3>
            </div>

            <div class="box-body">
                <form action="{{url "Pengumuman.Save"}}" method="post" class="form-horizontal">
                    <div class="form-group">
                        {{with $field := field "pengumuman.Judul" .}}
                        <label class="col-sm-2 control-label">Judul</label>
                        <div class="col-sm-2">
                            <input type="text" value="{{$field.Flash}}" name="{{$field.Name}}" class="form-control">
                        </div>
                        <span style="color:red">{{$field.Error}}</span> {{end}}
                    </div>
                    <div class="form-group">
                        {{with $field := field "pengumuman.Pesan" .}}
                        <label class="col-sm-2 control-label">Pesan</label>
                        <div class="col-sm-4">
                            <input type="text" value="{{$field.Flash}}" name="{{$field.Name}}" class="form-control">
                        </div>
                        <span style="color:red">{{$field.Error}}</span> {{end}}
                    </div>
                    <div class="form-group">
                        {{with $field := field "pengumuman.StartTime" .}}
                        <label class="col-sm-2 control-label">Mulai</label>
                        <div class="col-sm-4">
                            <input type="text" value="{{$field.Flash}}"  id="temp1" name="{{$field.Name}}" class="form-control">
                        </div>
                        <span style="color:red">{{$field.Error}}</span> {{end}}
                    </div>
                    <div class="form-group">
                        {{with $field := field "pengumuman.EndTime" .}}
                        <label class="col-sm-2 control-label">Berakhir</label>
                        <div class="col-sm-4">
                            <input type="text" value="{{$field.Flash}}" id="temp2" name="{{$field.Name}}" class="form-control">
                        </div>
                        <span style="color:red">{{$field.Error}}</span> {{end}}
                    </div>
            </div>
            <div>
                <div class="box-footer">
                    <input type="submit" class="btn btn-primary" value="Simpan" />
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Daftar Pengumuman</h3>
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Judul</th>
                            <th>Pesan</th>
                            <th>Mulai</th>
                            <th>Berakhir</th>
			    <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $p := .pengumuman}}
                        <tr>
                            <td>{{$p.Judul}}</td>
                            <td>{{$p.Pesan}}</td>
                            <td>{{datetime $p.StartTime}}</td>
                            <td>{{datetime $p.EndTime}}</td>
			    <td>
				<a href="{{url "Pengumuman.Edit" $p.Id}}" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></a>
				<a href="{{url "pengumuman.Delete" $p.Id}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
			    <td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
</div>

{{template "jsscript.html" .}}
<script>
    $(function() {
        $('#temp1').datetimepicker({
            format: "DD-MM-YYYY HH:mm"
        })
        $('#temp2').datetimepicker({
            format: "DD-MM-YYYY HH:mm"
        })
    });
</script>

{{template "footer.html" .}}
